<h1>BLUDKIN</h1>

<div id="calendar-view">

  <div id="calendar" class="large-6 columns"></div>

  <div id="content-view" class="large-6 columns">
    <div id = "cycle-info">
      <h3>Cycle Info</h3>
        <form action="">
          <input class= "small-3 columns" type="text" placeholder = "Start Date">


          <input class = "button radius round" type="submit" name= "Archive">
        </form>
    </div>
  </div>

</div>