body {
  background-color: #F9F1DC;
}

h1 {
  color: #7D0B0F;
  font-weight: bold;
  font-size: 50px;
  font-family: helvetica;
}

nav {
  display: inline;
}

/* IDs */

#color {
  background-color: #67090C;
}

/* Classes */


.button {
  background-color: #7D0B0F;

}

.button:hover { 
  background-color: #8C635B;
}

.button:focus {
  background-color: #7D0B0F;
}



/*NAV BAR*/
  #whole-bar {
    background-color: #7D0B0F;
   

    }

    /*.nav-button { NOT WORKING
      background-color: #7D0B0F;
    }*/
   
    #nav-font {
      font-size: 50px;
      font-family: Gill Sans Ultra Bold;
    }

    .top-bar {
      height: 30px;
      }


      .title-area {
      background-color: #7D0B0F;
    }

 

   #logo {
    width: 50%;
    display: center;
    font: center;
    margin-top: 40px;

    }
/*  nav {
    display: inline;
  }*/

  #color {
    background-color: #67090C;
  }




/*all friends page*/

#search-field {
  background-color: #7D0B0F;
  width: 600px;
  margin: 0 auto;

}

#search-button {
margin: 20px;
background-color: #F9F1DC;

 
}

#search-bar {
  
   margin: 50px;
   margin-top: 20px;
   width: 500px;

}

#profile-splash {
  background-color: white;
  width: 50%;
  padding: 10px;
  border-radius: 20%;
  box-shadow: 10px 10px 5px #888888;
 
}

#profile-pic {
  height: 100px;

}

#profile-image {
 
}

#profile-info {
 

}

.cycle {
  background-color: white;

  width: 250px;
  text-align: center;
  margin-top: 40px;
  margin: 40px;
    border-radius: 20%;
  box-shadow: 10px 10px 5px #888888;


 /*float: left;*/
}

#calendar {
  margin-top: 60px;
}

#content-view {
  margin-top: 60px;
}

.hidden {
  display: none;
}

#chart-container {
  float: right;
  margin-left: 0px;
  /*background-color: white;*/
  width: 1300px;
  height: 410px;
}






