body {
  background-color: #F9F1DC;
}

h1 {
  color: #7D0B0F;
  font-weight: bold;
  font-size: 50px;
  font-family: helvetica;
}

nav {
  display: inline;
}

/* IDs */

#color {
  background-color: #67090C;
}

/* Classes */


.button {
  background-color: #7D0B0F;

}

.button:hover { 
  background-color: #8C635B;
}

.button:focus {
  background-color: #7D0B0F;
}


    nav {
    background-color: #7D0B0F;
    height: 60px;
    list-style-type:none;
    margin:0;
    padding:10px;
    margin-top: 0px;

    }

    .links {
      display: inline;
    }

   .logo {
      width: 100px;
    }
/*  nav {
    display: inline;
  }*/

  #color {
    background-color: #67090C;
  }


